body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: #184244;
    color: #B0EED0;
}
footer {
    background-color: #2D2233;
    color: #8B1D9E;
}
header {
    background-color: #2D2233;
    color: #8B1D9E;
}